<div *ngIf="loaded">
	<div class="items">
		<fieldset class="items-book">
            
                <div class="form-group" >
                    <input [(ngModel)]="name" placeholder="name" class="info">
                </div>
        
                <div class="form-group">
                    <input [(ngModel)]="author" placeholder="author"class="info" >
                </div>

                <div class="form-group">
                    <input [(ngModel)]="price" placeholder="price" class="info">
                </div>

                <div class="form-group">
                    <input [(ngModel)]="year" placeholder="year" class="info">
                </div>

                <div class="form-group">
                    <input [(ngModel)]="category" placeholder="category" class="info">
                </div>

                <div class="form-group">
                    <input [(ngModel)]="image" placeholder="image" class="info">
                </div>
           
                
                <textarea [(ngModel)]="description" placeholder="description" class="info"></textarea>

                <button class="button" (click)="createBook()">Add Book</button>
          </fieldset>
	</div>
</div>
